
.icon-search {
    background-image: url("../icons/search.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;

}

.main-img {
    background-image: url("../img/main-ing.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 500px;
}

.card-logo {
    background-image: url("../img/akademie.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 200px;
}

.brotlink-color {
    background-color: #666666;
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
}

.logo {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.logo-orange {
    color: #FFB900;
}

.logo-gray {
    color: #888888;
}

.slogan {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #888888;
}

.nav-list .nav-link {
    color: #6c757d;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-list .nav-link:hover {
    color: orange;
}

.brotlink-color {
    background-color: #666666;
}

.card-rounded-left {
    border-top-left-radius: 10px;
}

.card {
    overflow: hidden;
    min-width: 320px;

}

.nav-block {
    min-width: 320px;
}

.card-bottom {
    background-color: #fafafa;
}

.btn-social {
    display: inline-flex;
    align-items: center;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    margin-right: 8px;
}

.btn-social .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-social .text {
    padding: 0 16px;
    line-height: 40px;
}


.btn-social.facebook {
    background-color: #3b5998;
}

.btn-social.facebook .icon {
    background-color: #2d4373;
}


.btn-social.twitter {
    background-color: #1da1f2;
}

.btn-social.twitter .icon {
    background-color: #0d95e8;
}


.btn-social.google {
    background-color: #dd4b39;
}

.btn-social.google .icon {
    background-color: #c23321;
}

.brotlink-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem; /* эквивалент g-4 */
}

.custom-pages {
    display: flex;
    gap: 2rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.03em;
    margin-top: 2rem;
}

.custom-pages a {
    color: #bbb;
    text-decoration: none;
}

.custom-pages {
    color: #bbb;

}

.footer-bar {
    padding: 1rem 0;
    font-size: 0.875rem;
    border-top: 1px solid #eee;
    background-color: #fff;
    color: #bbb;
}

.footer-bar strong {
    color: #333;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-right a {
    color: #bbb;
    text-decoration: none;
    margin: 0 0.3rem;
}

.active:hover {
    color: #fdde7c;
}

a:hover {
    color: #fdde7c;
}

@media (max-width: 991.98px) {
    .brotlink-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575.98px) {
    .brotlink-grid {
        grid-template-columns: 1fr;
    }
}
