.icon-search {
    background-image: url("../icons/search.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;

}
.main-img{
    background-image: url("../img/main-ing.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 500px;
}
.overlay {
    background: rgba(0, 0, 0, 0.3); /* Полупрозрачная тень */
}
.logo {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
}
.logo-orange {
    color: #FFB900;
}
.logo-gray {
    color: #888888;
}
.slogan {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #888888;
}

.nav-list .nav-link {
    color: #6c757d; /* серый */
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-list .nav-link:hover {
    color: orange;
}

.brotlink-color{
 background-color: #666666;
}